:root {
  --beige: #f9f7f3;
  --black: #333;
  --brown: #b66543;
  --turquoise: #6abdaa;
}

body {
  margin: 0;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 1.6;
  height: 100vh;
  background-color: var(--beige); /* Light beige-white */
  color: var(--black);
}

* {
  scroll-behavior: smooth;
  scroll-padding-block-start: 1rem;
}

h1,
h2,
h3 {
  margin-bottom: 0.5em;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.25rem;
  border-bottom: 2px solid var(--turquoise);
  padding-bottom: 0.3em;
  margin-bottom: 1em;
}

h3 {
  font-size: 1.15em;
}

code {
  background: #f4f1eb;
  border-radius: 4px;
  font-family: "Courier New", Courier, monospace;
  font-size: 0.9em;
}

pre {
  background: #f4f1eb;
  padding: 1em;
  border-radius: 6px;
  border-left: 4px solid var(--turquoise);
  overflow-x: auto;
  font-size: 0.95em;
  margin: 1em 0;
}

ul {
  list-style-type: none;
  padding: 0;
  padding-left: 1rem;
}

ul li {
  margin: 0.8em 0;
}

ul li a {
  color: var(--brown);
  text-decoration: none;
  font-weight: bold;
}

ul li a:hover {
  color: var(--turquoise);
  text-decoration: underline;
}

img {
  max-width: 100%;
  height: auto;
  margin: 1em 0;
  border-radius: 8px;
}

a {
  text-decoration: none;
  color: var(--brown);
}

a:has(h1) {
  color: var(--black) 333;
}

a:hover:not(:has(h1)) {
  color: var(--turquoise);
  text-decoration: underline;
}

button {
  background-color: var(--turquoise); /* Turquoise accent */
  color: #fff;
  border: none;
  padding: 0.7em 1.2em;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  transition: background-color 0.3s;
}

button:hover {
  background-color: var(--brown); /* Brown hover */
}

.language-selector {
  width: fit-content;
  font-size: 0.875rem;
  padding: 0.25rem;
  color: var(--white);
  background-color: transparent;
  border-color: transparent;
}

i.big {
  font-size: 2rem;
}
